:root,
html[data-theme="light"] {
	--white: #fff;
	--black: #000;
	--pink-1: #e33afc;
	--pink-2: #f0d3e7;
	--pink-3: rgb(197, 0, 197);
	--orange-1: #ff7b00;
	--orange-2: rgb(255, 94, 0);
	--purple-1: #800080;
	--purple-2: #55006c;
	--purple-3: rgb(125, 61, 161);
	--purple-4: rgb(144, 109, 164);
	--purple-5: #713685;
	--purple-6: #9730b1;
	--gray-1: #acacac;
	--gray-2: rgb(236, 236, 236);
	--gray-3: rgb(205, 205, 205);
	--dark-gray-1: #161616;
	--dark-gray-2: #292929;
	--dark-gray-3: #262225;
	--dark-gray-4: #16001a;
	--dark-gray-5: rgb(62, 62, 62);
	--dark-gray-6: #3d3d3d;
	--dark-gray-7: rgb(58, 50, 59);
	--dark-gray-8: rgb(50, 43, 51);
	--github-fill: var(--black);
	--github-color: var(--body-bg-color);
	--github-focus: var(--white);
	--content: "Dark Mode";
	--body-bg-color: var(--pink-1);
	--box-bg-color: var(--white);
	--default-shadow-color: var(--dark-gray-4);
	--inset: ;
	--x: 20px;
	--y: 20px;
	--blur: 0px;
	--spread: 0px;
	--color: var(--default-shadow-color);
	--default-shadow: var(--inset) var(--x) var(--y) var(--blur) var(--spread) var(--color);
	--swatch-border: var(--dark-gray-5);
	--box-border: 5px solid var(--black);
	--light-input: inline-block;
	--dark-input: none;
	--thumb-border: 3px solid var(--white);
	--text-color: var(--dark-gray-6);
	--button-hover-color: var(--pink-1);
	--open-sans: "Open Sans", "Helvetica Neue", sans-serif;
	--track-color: var(--pink-2);
	--track-focus: var(--purple-5);
	--thumb-color: var(--orange-1);
	--copy-box: var(--gray-2);
	--button-color: var(--purple-1);
	--title-color: var(--text-color);
	--tomarik: "tomarik-display", sans-serif;
	--inner-width: 516px;
	--mobile-1: 300px;
	--mobile-2: 250px;
}

/* ------------------------------------------------------------- */
/* Dark Theme */

html[data-theme="dark"] {
	--github-fill: var(--purple-3);
	--github-color: var(--body-bg-color);
	--github-focus: var(--orange-2);
	--content: "Light Mode";
	--body-bg-color: var(--dark-gray-1);
	--box-bg-color: var(--dark-gray-3);
	--default-shadow-color: var(--purple-2);
	--swatch-border: var(--purple-4);
	--box-border: 5px solid var(--purple-3);
	--light-input: none;
	--dark-input: inline-block;
	--thumb-border: 3px solid var(--dark-gray-3);
	--text-color: var(--gray-1);
	--track-color: var(--dark-gray-7);
	--track-focus: var(--purple-3);
	--copy-box: var(--dark-gray-8);
	--button-color: var(--purple-6);
	--title-color: var(--gray-3);
}

/* ------------------------------------------------------------- */
/* Theme Display Settings */

#box-color-div-1,
#shadow-color-div-1,
#body-color-div-1,
#color-span-1 {
	display: var(--light-input);
}

#box-color-div-2,
#shadow-color-div-2,
#body-color-div-2,
#color-span-2 {
	display: var(--dark-input);
}

#theme-toggle::after {
	content: var(--content);
}

/* ------------------------------------------------------------- */
/* HTML, Body, Text, Sizing */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: ease all 0.05s;
}

body {
	background-color: var(--body-bg-color);
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
.box,
#color-container,
.control > .d-flex,
#button-container {
	display: flex;
}

label,
span {
	color: var(--text-color);
	font-family: var(--open-sans);
	letter-spacing: 0.5px;
}

/* ------------------------------------------------------------- */
/* Main Box */

.box {
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background-color: var(--box-bg-color);
	box-shadow: var(--default-shadow);
	text-align: center;
	padding: 5px;
	position: relative;
	border: var(--box-border);
}

#code,
#button-container,
.controls > .control {
	width: var(--inner-width);
}

/* ------------------------------------------------------------- */
/* Title */

h1 {
	position: relative;
	font-size: 42px;
	text-align: center;
	margin: 8px auto 2px;
	color: var(--title-color);
	z-index: 100;
	font-weight: 600;
	font-family: var(--tomarik);
}

/* ------------------------------------------------------------- */
/* Circular Color Inputs */

#color-container {
	margin-top: 14px;
	flex-direction: row;
	justify-content: space-between;
}

.color-label {
	margin-top: 6px;
}

input[type="color"] {
	width: 36px;
	height: 36px;
	border: none;
	border-radius: 50%;
	background: none;
}

input[type="color"]:focus {
	outline: 2px solid var(--swatch-border);
	outline-offset: 4px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: solid 2px var(--swatch-border);
	border-radius: 50%;
}

/* ------------------------------------------------------------- */
/* Inset Checkbox */

.control > label[for="inset"] {
	display: inline;
	font-size: 15px;
}

.control #inset {
	margin-top: 20px;
}

.control > input#inset {
	width: auto;
	display: inline;
}

/* ------------------------------------------------------------- */
/* Input Ranges */

.controls {
	max-width: 90%;
	margin: 0;
}

.controls > .control {
	margin: 2px auto;
}

.control > .d-flex {
	justify-content: space-between;
	align-items: center;
}

.control > label {
	display: block;
}

input[type="range"],
input[type="checkbox"] {
	margin: 6px 0 10px;
	display: inline-block;
	width: 100%;
}

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: var(--track-focus);
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	background: var(--track-color);
	border-radius: 5px;
	cursor: pointer;
}

input[type="range"]::-moz-range-track {
	height: 10px;
	background: var(--track-color);
	border-radius: 5px;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--thumb-color);
	-webkit-appearance: none;
	margin-top: -5px;
	border: var(--thumb-border);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--thumb-color);
	-webkit-appearance: none;
	margin-top: -5px;
	border: var(--thumb-border);
	cursor: pointer;
}

/* ------------------------------------------------------------- */
/* CSS Code Lines */

#code {
	border-radius: 6px;
	padding: 2% 3%;
	background: var(--copy-box);
	font-size: 15px;
	text-align: left;
	margin: 17px 0;
	line-height: 1.5;
}

/* ------------------------------------------------------------- */
/* Bottom Buttons */

#button-container {
	margin-top: 8px;
	justify-content: space-between;
}

button {
	outline: none;
	border: none;
	width: 150px;
	background-color: var(--button-color);
	color: var(--white);
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.35px;
	font-family: sans-serif;
}

button:hover {
	background-color: var(--pink-3);
}

button:focus {
	background: var(--orange-2);
}

button:active {
	transform: scale(0.95);
}

/* ------------------------------------------------------------- */
/* GitHub Corner */

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

/* ------------------------------------------------------------- */
/* Media Queries */

@media (max-width: 770px) {
	.github-corner {
		display: none;
	}
}

@media (max-width: 650px) {
	.box {
		width: 350px;
		height: 500px;
		margin: 2%;
	}

	#code,
	#button-container,
	.controls > .control {
		width: var(--mobile-1);
	}

	h1 {
		font-size: 24px;
		margin: 2px auto 0;
	}

	#color-container {
		margin-top: 10px;
	}

	input[type="range"],
	input[type="checkbox"] {
		margin: 4px 0 10px;
		display: inline-block;
		width: 100%;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 6px;
	}

	input[type="range"]::-moz-range-track {
		height: 6px;
	}

	input[type="range"]::-webkit-slider-thumb {
		margin-top: -7px;
	}

	input[type="range"]::-moz-range-thumb {
		margin-top: -7px;
	}

	p,
	span,
	label,
	button,
	.control > label[for="inset"] {
		font-size: 12px;
	}

	.controls > .control {
		margin: 0 auto;
	}

	#code {
		margin: 9px 0 1px;
		overflow-x: auto;
	}

	#button-container {
		margin-top: 14px;
	}

	button {
		width: 90px;
	}
}

@media (max-width: 400px) {
	.box {
		width: 300px;
		height: 490px;
		margin: 1%;
	}

	#code,
	#button-container,
	.controls > .control {
		width: var(--mobile-2);
	}

	h1 {
		font-size: 20px;
		margin-bottom: 2px;
	}

	#color-container {
		margin-top: 6px;
	}

	input[type="color"] {
		width: 30px;
		height: 30px;
	}

	#code {
		margin: 6px 0 0px;
	}

	#button-container {
		margin-top: 10px;
	}

	button {
		padding: 2% 0.5%;
		width: 76px;
		border-radius: 4px;
	}
}
